#navbar {
    margin: 0;
    padding: 0;
    /* overflow: hidden;
    position: fixed; */
    /* top: 0; */
    /* width: 100%; */
    /* z-index: 2; */
    background-color: #0c0c0c;
    text-align: right;
}